.header__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

}

.header__list > li {
	list-style-type: none;
}

.header__list > li > a {
	text-decoration: none;
}

.header__province{
	height: min-content;
}

.header__container{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid lightgray;
	margin-bottom: var(--md-spacer);
	padding-bottom: var(--md-spacer);
}
