.header__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: var(--md-spacer);
	padding-bottom: var(--md-spacer);
	border-bottom: 1px solid lightgray;
}

.header__list > li {
	list-style-type: none;
}

.header__list > li > a {
	text-decoration: none;
}
